<p><!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
  <!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
  <!--<div mat-dialog-content>-->
  <!--<p>What's your favorite animal?</p>-->
  <!--<mat-form-field>-->
  <!--<input matInput [(ngModel)]="data.animal">-->
  <!--</mat-form-field>-->
  <!--</div>-->

<form [formGroup]="updateGroupContactsForm" (ngSubmit)="updateGroupContacts(updateGroupContactsForm.value)">

  <mat-form-field>
    <input matInput placeholder="Name" type="text" formControlName="name">
    <mat-error style="color: red" *ngIf="updateGroupContactsForm.get('name').invalid && (updateGroupContactsForm.get('name').dirty ||
      updateGroupContactsForm.get('name').touched) && updateGroupContactsForm.get('name').errors?.required">
      Please insert first name!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Enter description of the Group " type="text" formControlName="description"></textarea>
    <!--<mat-error style="color: red" *ngIf="groupContactsModalForm.get('description').invalid && (groupContactsModalForm.get('description').dirty ||-->
    <!--groupContactsModalForm.get('description').touched) && !groupContactsModalForm.get('description').errors?.minlength">-->
    <!--Please insert last name!-->
    <!--</mat-error>-->
  </mat-form-field>

  <!--<mat-form-field>-->
    <!--<input matInput placeholder="Gender" type="text" formControlName="gender">-->
    <!--<mat-error style="color: red" *ngIf="updateGroupContactsForm.get('gender').invalid && (updateGroupContactsForm.get('gender').dirty ||-->
      <!--updateGroupContactsForm.get('gender').touched) && !updateGroupContactsForm.get('gender').errors?.minlength">-->
      <!--Please insert last name!-->
    <!--</mat-error>-->
  <!--</mat-form-field>-->
  

  <!--<mat-form-field>-->
  <!--<mat-label>University</mat-label>-->
  <!--<mat-select formControlName="university">-->
  <!--<mat-option *ngFor="let university of universities" [value]="university.value">-->
  <!--{{university.viewValue}}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->

  <!--<button mat-raised-button color="primary" type="submit" >Add contact</button>-->
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" type="submit"  cdkFocusInitial >Update</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
</form>