<p style="font-weight: bolder; font-size: x-large; margin-top: 61px; margin-left: 20px"> EVENTS LIST </p>

<!--<ol>-->
<!--<li>-->
<!--<mat-form-field>-->
<!--<input matInput [(ngModel)]="name" placeholder="What's your name?">-->
<!--</mat-form-field>-->
<!--</li>-->
<!--<div class="create" style="color: yellow; width: 100%">-->
<!--<li>-->
<!--<button class="l1" mat-raised-button (click)="openDialog()">Create</button>-->
<div style="margin-top: 30px; left: 30px ;display: flex; flex-flow: row">
  <button mat-raised-button style="height: 40px; left: 20px" (click)="openCreate()">
    <mat-icon>add</mat-icon>
    New Event</button>

  <mat-form-field class="col-md-4"  style="left: 100px; margin-bottom: 10px">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
</div>
<!--<button mat-button color="" style="margin-top: 61px; left: 70px" mat-raised-button="" >-->
<!--<mat-icon style="color: red;" mat-raised-button-->
<!--(click)="refresh()"></mat-icon>-->
<!--</button>-->
<!--</li>-->
<!--<li *ngIf="animal">-->
<!--You chose: <i>{{animal}}</i>-->
<!--</li>-->
<!--&lt;!&ndash;</ol>&ndash;&gt;-->
<!--</div>-->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)'}"></ngx-loading>
<div class="container">

  <table style="width: 100%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="event_name">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold">Event Name </th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/events/{{element.id}}">{{element.event_name | uppercase}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="created_by">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold">Created By </th>
      <td mat-cell *matCellDef="let element"> {{element.created_by.full_name}} </td>
    </ng-container>

    <!--<ng-container matColumnDef="Acadamic_department">-->
      <!--<th mat-header-cell *matHeaderCellDef style="font-weight: bold">Academic Department </th>-->
      <!--<td mat-cell *matCellDef="let element"> {{element.Acadamic_department | titlecase}} </td>-->
    <!--</ng-container>-->

    <!-- Weight Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Created At </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at | date :'fullDate' }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Updated At </th>
      <td mat-cell *matCellDef="let element"> {{element.updated_at | date :'fullDate'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button="">
          <mat-icon  mat-raised-button (click)="openUpdate(element)">edit</mat-icon></button>
        <button mat-button="">
          <mat-icon style="color: red;" mat-raised-button
                    (click)="deleteContact(element.id)">delete_outline</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
