<p><!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
  <!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
  <!--<div mat-dialog-content>-->
  <!--<p>What's your favorite animal?</p>-->
  <!--<mat-form-field>-->
  <!--<input matInput [(ngModel)]="data.animal">-->
  <!--</mat-form-field>-->
  <!--</div>-->

<form [formGroup]="updateUsersForm" (ngSubmit)="updateUsers(updateUsersForm.value)">

  <mat-form-field>
    <input matInput placeholder="Full Name" type="text" formControlName="full_name">
    <mat-error style="color: red" *ngIf="updateUsersForm.get('full_name').invalid && (updateUsersForm.get('full_name').dirty ||
      updateUsersForm.get('full_name').touched) && updateUsersForm.get('full_name').errors?.required">
      Please insert first name!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Phone" type="text" formControlName="phone">
    <mat-error style="color: red" *ngIf="updateUsersForm.get('phone').invalid && (updateUsersForm.get('phone').dirty ||
      updateUsersForm.get('phone').touched) && !updateUsersForm.get('phone').errors?.minlength">
      Please insert last name!
    </mat-error>
  </mat-form-field>


  <!--<mat-form-field>-->
    <!--<input matInput placeholder="User Role" type="text" formControlName="role">-->
    <!--<mat-error style="color: red" *ngIf="updateUsersForm.get('role').invalid && (updateUsersForm.get('role').dirty ||-->
      <!--updateUsersForm.get('role').touched) && !updateUsersForm.get('role').errors?.minlength">-->
      <!--Please insert user role!-->
    <!--</mat-error>-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
    <!--<mat-label> User Role</mat-label>-->
    <!--<mat-select formControlName="role">-->
      <!--<mat-option *ngFor="let role of universities" [value]="role.value">-->
        <!--{{// role.viewValue}}-->
      <!--</mat-option>-->
    <!--</mat-select>-->
  <!--</mat-form-field>-->

  <mat-form-field>
    <input matInput placeholder="Email" type="email" formControlName="email">
    <mat-error style="color: red" *ngIf="updateUsersForm.get('email').invalid && (updateUsersForm.get('email').dirty ||
      updateUsersForm.get('email').touched) && !updateUsersForm.get('email').errors?.minlength">
      Please insert your email address!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Role" type="text" formControlName="role">
    <!--<mat-error style="color: red" *ngIf="updateUsersForm.get('role').invalid && (updateUsersForm.get('role').dirty ||-->
      <!--updateUsersForm.get('role').touched) && !updateUsersForm.get('role').errors?.minlength">-->
      <!--Please insert your email address!-->
    <!--</mat-error>-->
  </mat-form-field>

  <!--<button mat-raised-button color="primary" type="submit" >Add contact</button>-->
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" type="submit"  cdkFocusInitial >Update</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
</form>