<p style="font-weight: bolder; font-size: x-large; margin-top: 61px; margin-left: 20px"> SCHEDULED MESSAGES </p>

<!--<ol>-->
<!--<li>-->
<!--<mat-form-field>-->
<!--<input matInput [(ngModel)]="name" placeholder="What's your name?">-->
<!--</mat-form-field>-->
<!--</li>-->
<!--<div class="create" style="color: yellow; width: 100%">-->
<!--<li>-->
<!--<button class="l1" mat-raised-button (click)="openDialog()">Create</button>-->
<!--<button style="margin-top: 61px; left: 15px; " mat-raised-button (click)="openCreate()">-->
  <!--<mat-icon>add</mat-icon>-->
  <!--scheduled message</button>-->

<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false" style="cursor: pointer; width: 30%; margin-left: 20px">
  <mat-expansion-panel-header >Scheduled Messages
  </mat-expansion-panel-header>
  <mat-list style="margin-top: 0">
    <mat-list-item>
      <a class="Flink" (click)="scheduledGroup()">
        <mat-icon style="margin-right: 5px">group</mat-icon>
        For Group</a>
    </mat-list-item>
    <mat-list-item>
      <a class="Flink" (click)="scheduledContact()">
        <i style="font-size: 22px; margin-right: 5px " class="fa fa-user"></i>
        For Contact</a>
    </mat-list-item>
    <mat-list-item>
      <a class="Flink" (click)="scheduledEvent()">
        <mat-icon style="margin-right: 5px">event_note</mat-icon>
        For Event</a>
    </mat-list-item>
    <mat-list-item>
      <a class="Flink" (click)="scheduledFellowship()">
        <i style="font-size: 22px; margin-right: 5px" class="fa fa-users"></i>
        For Fellowship</a>
    </mat-list-item>
  </mat-list>
</mat-expansion-panel>

<!--<button mat-button color="primary" style="margin-top: 61px; left: 50px" mat-raised-button (click)="openImportContact()"> Import Contact  </button>-->
<!--</li>-->
<!--<li *ngIf="animal">-->
<!--You chose: <i>{{animal}}</i>-->
<!--</li>-->
<!--&lt;!&ndash;</ol>&ndash;&gt;-->
<!--</div>-->
<!--<ngx-loading [show]="l
<!--oading" [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)'}"></ngx-loading>&ndash;&gt;-->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)'}"></ngx-loading>

<div class="container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <table style="width: 100%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold">Message </th>
      <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>

    <ng-container matColumnDef="sent_by">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold">Sent By </th>
      <td mat-cell *matCellDef="let element"> {{element.sent_by.full_name}} </td>
    </ng-container>

    <ng-container matColumnDef="sent_to">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold">Sent To </th>
      <td mat-cell *matCellDef="let element"> {{element.sent_to}} </td>
    </ng-container>

    <!-- Name Column -->
    <!--<ng-container matColumnDef="port_name">-->
      <!--<th mat-header-cell *matHeaderCellDef style="font-weight: bold">Port Name </th>-->
      <!--<td mat-cell *matCellDef="let element"> {{element.port_name}} </td>-->
    <!--</ng-container>-->

    <!-- Name Column -->
    <ng-container matColumnDef="send_date">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold">Scheduled Date</th>
      <td mat-cell *matCellDef="let element"> {{element.send_date }}</td>
    </ng-container>

    <ng-container matColumnDef="send_time">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold">Scheduled Time</th>
      <td mat-cell *matCellDef="let element"> {{element.send_time}}</td>
    </ng-container>

    <!--Weight Column -->
    <!--<ng-container matColumnDef="campaign">-->
    <!--<th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Campaign </th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.campaign}} </td>-->
    <!--</ng-container>-->

    <!-- Symbol Column -->

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Action </th>
      <td mat-cell *matCellDef="let element">
        <!--<button mat-button="">-->
        <!--<mat-icon  mat-raised-button (click)="openUpdate(element)">edit</mat-icon></button>-->
        <button mat-button=""
                mwlConfirmationPopover
                [popoverTitle]="'Confirm Deletion'"
                [popoverMessage]="'Are you sure you want to delete this contact'"
                placement="left"
                (confirm)="deleteScheduledMessage(element.id)"
                (cancel)="cancelClicked = true"
        >

          <mat-icon style="color: red;" mat-raised-button>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>