<p style="font-weight: bolder; font-size: x-large; margin-top: 61px; margin-left: 20px"> GROUP MESSAGES </p>

<!--<ol>-->
<!--<li>-->
<!--<mat-form-field>-->
<!--<input matInput [(ngModel)]="name" placeholder="What's your name?">-->
<!--</mat-form-field>-->
<!--</li>-->
<!--<div class="create" style="color: yellow; width: 100%">-->
<!--<li>-->
<!--<button class="l1" mat-raised-button (click)="openDialog()">Create</button>-->
<!--<div style="left: 30px ;display: flex; flex-flow: row">-->



  <!--<button mat-raised-button style="height: 40px; left: 20px" (click)="openCreate()">-->
    <!--<mat-icon>add</mat-icon>-->
    <!--New Group Message-->
  <!--</button>-->
<div class="row p-3">

  <div class="col-3">
    <mat-expansion-panel  style="cursor: pointer; width: 100%;">
      <mat-expansion-panel-header >Under Graduate
        <!--<mat-panel-title style="margin-top: 61px; left: 15px;">Periodic Messages</mat-panel-title>-->
      </mat-expansion-panel-header>
      <mat-list style="margin-top: 0">
        <mat-list-item>
          <a class="Flink" (click)="openForGroup()">
            <mat-icon style="margin-right: 5px">group</mat-icon>
            For Group</a>
        </mat-list-item>
        <mat-list-item>
          <a class="Flink" (click)="openForFellowship()">
            <i style="font-size: 22px" class="fa fa-users"></i>
            For Fellowship</a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>

  <div class="col-3">
    <mat-expansion-panel style="cursor: pointer; width: 100%;">
      <mat-expansion-panel-header >Post Graduate
        <!--<mat-panel-title style="margin-top: 61px; left: 15px;">Periodic Messages</mat-panel-title>-->
      </mat-expansion-panel-header>
      <mat-list style="margin-top: 0">
        <mat-list-item>
          <a class="Flink" (click)="openForPostTeam()">
            <mat-icon style="margin-right: 5px">group</mat-icon>
            For Group</a>
        </mat-list-item>
        <mat-list-item>
          <a class="Flink" (click)="openForPostContacts()">
            <i style="font-size: 22px" class="fa fa-users"></i>
            For All Post Graduates</a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>

  <div class="col-2">
    <button mat-raised-button (click)="forevent()">
      <mat-icon>add</mat-icon>
      Events Message
    </button>
  </div>

  <div class="col-4">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>

</div>

<!--<button mat-button color="primary" style="margin-top: 61px; left: 50px" mat-raised-button (click)="openImportContact()"> Import Contact  </button>-->
<!--</li>-->
<!--<li *ngIf="animal">-->
<!--You chose: <i>{{animal}}</i>-->
<!--</li>-->
<!--&lt;!&ndash;</ol>&ndash;&gt;-->
<!--</div>-->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)'}"></ngx-loading>
<div class="container">

  <table style="width: 100%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <!--<ng-container matColumnDef="port_name">-->
      <!--<th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Port Name </th>-->
      <!--<td mat-cell *matCellDef="let element"> {{element.port_name}} </td>-->
    <!--</ng-container>-->

    <!-- Name Column -->
    <!--<ng-container matColumnDef="team">-->
      <!--<th mat-header-cell *matHeaderCellDef style="font-weight: bold">Group Name </th>-->
      <!--<td mat-cell *matCellDef="let element"> {{element.team}} </td>-->
    <!--</ng-container>-->

    <!-- Weight Column -->
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Message </th>
      <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <!--<ng-container matColumnDef="sent_msg_count">-->
      <!--<th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Sent Msg Count </th>-->
      <!--<td mat-cell *matCellDef="let element"> {{element.sent_msg_count}} </td>-->
    <!--</ng-container>-->

    <!-- Symbol Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Created At </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at | date :'fullDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="sent_by">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Sent By </th>
      <td mat-cell *matCellDef="let element"> {{element.sent_by.full_name}} </td>
    </ng-container>

    <ng-container matColumnDef="team_id">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Sent To </th>
      <td mat-cell *matCellDef="let element"> {{element.team_id}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Action </th>
      <td mat-cell *matCellDef="let element">
        <!--<mat-icon  mat-raised-button (click)="openUpdate(element)">edit</mat-icon></button>-->
        <button mat-button=""
                mwlConfirmationPopover
                [popoverTitle]="'Confirm Deletion'"
                [popoverMessage]="'Are you sure you want to delete this contact'"
                placement="left"
                (confirm)="deleteGroupMessage(element.id)"
                (cancel)="cancelClicked = true"
        >

          <mat-icon style="color: red;" mat-raised-button>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>