<!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<!--<div mat-dialog-content>-->
<!--<p>What's your favorite animal?</p>-->
<!--<mat-form-field>-->
<!--<input matInput [(ngModel)]="data.animal">-->
<!--</mat-form-field>-->
<!--</div>-->

<form [formGroup]="contactsModalForm" (ngSubmit)="contactsModal(contactsModalForm.value)">

  <mat-form-field>
    <input matInput placeholder="Full Name" type="text" formControlName="full_name">
    <mat-error style="color: red" *ngIf="contactsModalForm.get('full_name').invalid && (contactsModalForm.get('full_name').dirty ||
      contactsModalForm.get('full_name').touched) && contactsModalForm.get('full_name').errors?.required">
      Please insert full name!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      <mat-option *ngFor="let gender of genders" [value]="gender.type">
        {{gender.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Phone number" type="text" formControlName="phone">
    <mat-error style="color: red" *ngIf="contactsModalForm.get('phone').invalid && (contactsModalForm.get('phone').dirty ||
      contactsModalForm.get('phone').touched) && !contactsModalForm.get('phone').errors?.minlength">
      Please insert phone number!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Academic Department" type="text" formControlName="acadamic_department">
    <mat-error style="color: red" *ngIf="contactsModalForm.get('acadamic_department').invalid && (contactsModalForm.get('acadamic_department').dirty ||
      contactsModalForm.get('acadamic_department').touched) && !contactsModalForm.get('acadamic_department').errors?.minlength">
      Please insert your department!
    </mat-error>
  </mat-form-field>

  <!--<mat-form-field>-->
    <!--<input matInput placeholder="Fellowship Id" type="text" formControlName="fellowship_id">-->
    <!--&lt;!&ndash;<mat-error style="color: red" *ngIf="contactsModalForm.get('fellowship_id').invalid && (contactsModalForm.get('fellowship_id').dirty ||&ndash;&gt;-->
    <!--&lt;!&ndash;contactsModalForm.get('fellowship_id').touched) && !contactsModalForm.get('fellowship_id').errors?.minlength">&ndash;&gt;-->
    <!--&lt;!&ndash;Please insert phone number!&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-error>&ndash;&gt;-->
  <!--</mat-form-field>-->

  <mat-form-field>
    <input matInput placeholder="Email" type="text" formControlName="email">
    <!--<mat-error style="color: red" *ngIf="contactsModalForm.get('email').invalid && (contactsModalForm.get('email').dirty ||-->
    <!--contactsModalForm.get('email').touched) && !contactsModalForm.get('email').errors?.minlength">-->
    <!--Please insert email!-->
    <!--</mat-error>-->
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="dp" placeholder="Graduation Year" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler($event, dp)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>

  <!--<button mat-raised-button color="primary" type="submit" >Add contact</button>-->
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" type="submit"  cdkFocusInitial >Add contact</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
</form>