<!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<!--<div mat-dialog-content>-->
<!--<p>What's your favorite animal?</p>-->
<!--<mat-form-field>-->
<!--<input matInput [(ngModel)]="data.animal">-->
<!--</mat-form-field>-->
<!--</div>-->
<mat-spinner style="margin: 0 auto" *ngIf="!smsPorts"></mat-spinner>
<form [formGroup]="groupmessagesModalForm" (ngSubmit)="groupmessagesModal(groupmessagesModalForm.value)" *ngIf="smsPorts" >

  <mat-form-field>
    <mat-label>Port Name</mat-label>
    <mat-select formControlName="port_name">
      <mat-option *ngFor="let smsPort of smsPorts.sms_ports.data" [value]="smsPort.port_name">
        {{smsPort.port_name }}
      </mat-option>
    </mat-select>
    <mat-error style="color: red" *ngIf="groupmessagesModalForm.get('port_name').invalid && (groupmessagesModalForm.get('port_name').dirty ||
      groupmessagesModalForm.get('port_name').touched) && !groupmessagesModalForm.get('port_name').errors?.minlength">
      Please select port name!
    </mat-error>
  </mat-form-field>

  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Last Name" type="text" formControlName="lastname">-->
  <!--<mat-error style="color: red" *ngIf="groupmessagesModalForm.get('lastname').invalid && (groupmessagesModalForm.get('lastname').dirty ||-->
  <!--groupmessagesModalForm.get('lastname').touched) && !groupmessagesModalForm.get('lastname').errors?.minlength">-->
  <!--Please insert last name!-->
  <!--</mat-error>-->
  <!--</mat-form-field>-->


  <!--<mat-form-field>-->
  <!--<mat-label>University</mat-label>-->
  <!--<mat-select formControlName="university">-->
  <!--<mat-option *ngFor="let university of universities" [value]="university.value">-->
  <!--{{university.viewValue}}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <mat-form-field>
    <textarea matInput placeholder="write a message " type="text" formControlName="message"></textarea>

  </mat-form-field>

  <!--<button mat-raised-button color="primary" type="submit" >Add contact</button>-->
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" type="submit"  cdkFocusInitial >Send Message</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
</form>