<!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<!--<div mat-dialog-content>-->
<!--<p>What's your favorite animal?</p>-->
<!--<mat-form-field>-->
<!--<input matInput [(ngModel)]="data.animal">-->
<!--</mat-form-field>-->
<!--</div>-->

<form [formGroup]="groupContactsModalForm" (ngSubmit)="groupContactsModal(groupContactsModalForm.value)">

  <mat-form-field>
    <input matInput placeholder="Add Group Name" type="text" formControlName="name">
    <mat-error style="color: red" *ngIf="groupContactsModalForm.get('name').invalid && (groupContactsModalForm.get('name').dirty ||
      groupContactsModalForm.get('name').touched) && groupContactsModalForm.get('name').errors?.required">
      Please insert Group Name!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Enter description of the Group " type="text" formControlName="description"></textarea>
    <!--<mat-error style="color: red" *ngIf="groupContactsModalForm.get('description').invalid && (groupContactsModalForm.get('description').dirty ||-->
      <!--groupContactsModalForm.get('description').touched) && !groupContactsModalForm.get('description').errors?.minlength">-->
      <!--Please insert last name!-->
    <!--</mat-error>-->
  </mat-form-field>

  <!--<mat-form-field>-->
    <!--<input matInput placeholder="Phone number" type="text" formControlName="phone">-->
    <!--<mat-error style="color: red" *ngIf="groupContactsModalForm.get('phone').invalid && (groupContactsModalForm.get('phone').dirty ||-->
      <!--groupContactsModalForm.get('phone').touched) && !groupContactsModalForm.get('phone').errors?.minlength">-->
      <!--Please insert phone number!-->
    <!--</mat-error>-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
    <!--<mat-label>University</mat-label>-->
    <!--<mat-select formControlName="university">-->
      <!--<mat-option *ngFor="let university of universities" [value]="university.value">-->
        <!--{{university.viewValue}}-->
      <!--</mat-option>-->
    <!--</mat-select>-->
  <!--</mat-form-field>-->

  <!--<button mat-raised-button color="primary" type="submit" >Add contact</button>-->
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" type="submit"  cdkFocusInitial >Add Group</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
</form>