<!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<!--<div mat-dialog-content>-->
<!--<p>What's your favorite animal?</p>-->
<!--<mat-form-field>-->
<!--<input matInput [(ngModel)]="data.animal">-->
<!--</mat-form-field>-->
<!--</div>-->

<form [formGroup]="eventsModalForm" (ngSubmit)="eventsModal(eventsModalForm.value)">

  <mat-form-field>
    <input matInput placeholder="Events Name" type="text" formControlName="event_name">
    <mat-error style="color: red" *ngIf="eventsModalForm.get('event_name').invalid && (eventsModalForm.get('event_name').dirty ||
      eventsModalForm.get('event_name').touched) && eventsModalForm.get('event_name').errors?.required">
      Please insert event name!
    </mat-error>
  </mat-form-field>

  <!--<mat-form-field>-->
    <!--<mat-label>Gender</mat-label>-->
    <!--<mat-select formControlName="gender">-->
      <!--<mat-option *ngFor="let gender of genders" [value]="gender.type">-->
        <!--{{gender.name}}-->
      <!--</mat-option>-->
    <!--</mat-select>-->
  <!--</mat-form-field>-->

  <mat-form-field>
    <textarea matInput placeholder="Enter Event Description " type="text" formControlName="event_description"></textarea>
    <!--<mat-error style="color: red" *ngIf="contactsModalForm.get('description').invalid && (contactsModalForm.get('description').dirty ||-->
      <!--contactsModalForm.get('description').touched) && !contactsModalForm.get('description').errors?.minlength">-->
      <!--Please insert phone number!-->
    <!--</mat-error>-->
  </mat-form-field>

  <!--<mat-form-field>-->
    <!--<input matInput placeholder="Academic Department" type="text" formControlName="acadamic_department">-->
    <!--<mat-error style="color: red" *ngIf="contactsModalForm.get('acadamic_department').invalid && (contactsModalForm.get('acadamic_department').dirty ||-->
      <!--contactsModalForm.get('acadamic_department').touched) && !contactsModalForm.get('acadamic_department').errors?.minlength">-->
      <!--Please insert your department!-->
    <!--</mat-error>-->
  <!--</mat-form-field>-->

  <!--<button mat-raised-button color="primary" type="submit" >Add contact</button>-->
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" type="submit"  cdkFocusInitial >Add Event</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
</form>