<!--<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.6)'}"></ngx-loading>-->
<div class="background">
  <div>
    <!--<h3 id="fellow" class="font-weight-bold mt-3 text-white">Password Reset</h3>-->
    <div id="form">
      <form [formGroup]="resetForm" (ngSubmit)="resetPass(resetForm.value)">
        <h2 style="font-weight: bold; text-align: center">Forgot Passord</h2>
        <!--<div class="sidebar-background" style="background-image: url(../../assets/img/sidebar-4.jpg)"></div>-->
        <mat-form-field>
          <input matInput placeholder="Email" type="text" formControlName="email">
          <mat-error style="color: red" *ngIf="resetForm.get('email').invalid && (resetForm.get('email').dirty ||
    resetForm.get('email').touched) && resetForm.get('email').errors?.required">
            Please insert email!
          </mat-error>
        </mat-form-field>
        <button style="width: 100%" class="btn btn-danger btn-round" type="submit" [disabled]="resetForm.invalid">Send Email</button>

          <p style="margin-top: 10px; text-align: center" >Go back to login? click <a routerLink="/login">here.</a></p><a></a>

      </form>
    </div>
  </div>
</div>
