<div class="container" >
  <mat-card style="background-color: darkslateblue; text-align: center" >
    <section class="cases-links" style="color: white">
      <h1 style="font-size: 150px; font-weight: bold" class="error-404">404</h1>
      <h2 style="font-weight: bold" > Page Not Found! </h2>
      <p class="error-404-p" >The page you were looking for does not exist!</p>
      <a routerLink="/" style="color:lawngreen; font-weight: bold" >Click here</a> to return to Home page.
    </section>
  </mat-card>
</div>
