<!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<!--<div mat-dialog-content>-->
<!--<p>What's your favorite animal?</p>-->
<!--<mat-form-field>-->
<!--<input matInput [(ngModel)]="data.animal">-->
<!--</mat-form-field>-->
<!--</div>-->
<mat-spinner style="margin: 0 auto" *ngIf="!smsPorts && !groupNames"></mat-spinner>
<form [formGroup]="scheduledMessageModalForm" (ngSubmit)="scheduledmessageModal(scheduledMessageModalForm.value)" *ngIf="smsPorts && groupNames">

  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Port Name" type="text" formControlName="port_name">-->
  <!--<mat-error style="color: red" *ngIf="scheduledMessageModalForm.get('port_name').invalid && (scheduledMessageModalForm.get('port_name').dirty ||-->
  <!--scheduledMessageModalForm.get('port_name').touched) && scheduledMessageModalForm.get('port_name').errors?.required">-->
  <!--Please Campaign !-->
  <!--</mat-error>-->
  <!--</mat-form-field>-->

  <mat-form-field>
    <mat-label>Port Name</mat-label>
    <mat-select formControlName="port_name">
      <mat-option *ngFor="let smsPort of smsPorts.sms_ports.data" [value]="smsPort.port_name">
        {{smsPort.port_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field >
    <mat-label>Group Name</mat-label>
    <mat-select formControlName="team">
      <mat-option *ngFor="let groupName of groupNames.teams.data" [value]="groupName.name">
        {{groupName.name }}
      </mat-option>
    </mat-select>
    <mat-error style="color: red" *ngIf="scheduledMessageModalForm.get('team').invalid && (scheduledMessageModalForm.get('team').dirty ||
      scheduledMessageModalForm.get('team').touched) && !scheduledMessageModalForm.get('team').errors?.minlength">
      Please select group name!
    </mat-error>
  </mat-form-field>

  <!--<mat-form-field>-->
  <!--<input matInput placeholder="Scheduled Date" type="text" formControlName="date">-->
  <!--<mat-error style="color: red" *ngIf="scheduledMessageModalForm.get('date').invalid && (scheduledMessageModalForm.get('date').dirty ||-->
  <!--scheduledMessageModalForm.get('date').touched) && !scheduledMessageModalForm.get('date').errors?.minlength">-->
  <!--Please select date!-->
  <!--</mat-error>-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
  <!--<input [matDatepicker]="picker" placeholder="Choose a date" formControlName="start_date">-->
  <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
  <!--<mat-datepicker #picker></mat-datepicker>-->
  <!--&lt;!&ndash;<mat-error style="color: red" *ngIf="scheduledMessageModalForm.get('start_date').invalid && (scheduledMessageModalForm.get('start_date').dirty ||&ndash;&gt;-->
  <!--&lt;!&ndash;scheduledMessageModalForm.get('start_date').touched) && !scheduledMessageModalForm.get('start_date').errors?.minlength">&ndash;&gt;-->
  <!--&lt;!&ndash;Please select starting date!&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-error>&ndash;&gt;-->
  <!--</mat-form-field>-->

  <mat-form-field>
    <input matInput [matDatepicker]="picker" formControlName="send_date" placeholder="Send Date"  >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Sent Time" type="text" formControlName="sent_time">
    <!--<mat-error style="color: red" *ngIf="periodicMessageModalForm.get('end_date').invalid && (periodicMessageModalForm.get('end_date').dirty ||-->
    <!--periodicMessageModalForm.get('end_date').touched) && !periodicMessageModalForm.get('end_date').errors?.minlength">-->
    <!--Please select end date!-->
    <!--</mat-error>-->
  </mat-form-field>


  <!--<mat-form-field>-->
  <!--<input matInput placeholder="End Date" type="text" formControlName="end_date">-->
  <!--<mat-error style="color: red" *ngIf="scheduledMessageModalForm.get('end_date').invalid && (scheduledMessageModalForm.get('end_date').dirty ||-->
  <!--scheduledMessageModalForm.get('end_date').touched) && !scheduledMessageModalForm.get('end_date').errors?.minlength">-->
  <!--Please select end date!-->
  <!--</mat-error>-->
  <!--</mat-form-field>-->

  <mat-form-field>
    <textarea matInput placeholder="write a message " type="text" formControlName="message"></textarea>

  </mat-form-field>

  <!--<button mat-raised-button color="primary" type="submit" >Add contact</button>-->
  <div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" type="submit"  cdkFocusInitial >Send Message</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
</form>